@charset "UTF-8";

*,*::before,*::after{box-sizing:border-box}html{-moz-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role='list'],ol[role='list']{list-style:none}body{min-height:100vh;line-height:1.5}h1,h2,h3,h4,button,input,label{line-height:1.1}h1,h2,h3,h4{text-wrap:balance}a:not([class]){text-decoration-skip-ink:auto;color:currentColor}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}textarea:not([rows]){min-height:10em}:target{scroll-margin-block:5ex}

a {
    text-decoration: none;
}
.full {
    width: 1024px;
    margin: 0 auto;
}
.titlebox {
    margin-top: 8px;
    width: 100%;
    text-align: center;
}
.swrs_s_text {
    font-size: 32px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 16px;
}
.databox {
    margin-top: 8px;
    width: 100%;
    background-color: #004000;
    border-radius: 16px;
    align-content: center;
}
.title {
    font-size: 24px;
    color: #ffffff;
    margin-top: 16px;
    margin-left: 32px;
    margin-bottom: 16px;
}
.ex {
    font-size: 16px;
    color: #ffffff;
    margin-left: 32px;
    margin-bottom: 16px;
}
.margin{
    height: 8px;
}